@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
$md_sans: 'DM Sans', sans-serif;
$desktop: 1440px;
$mobile: 375px;

body {
    background-color: #F8E9DD !important;
    height: 100vh;
    font-family: $md_sans;
    margin: 0;
    padding: 0;

    .expense-card {
        width: $mobile;
        height: 660px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media(min-width: $desktop) {
            width: 540px;
        }

        &__header {
            background: #EC755D;
            border-radius: 20px;
            padding: 32px 26px;
            margin-bottom: 24px;
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media(min-width: $desktop) {
                margin-left: 0;
                margin-right: 0;
            }

            &-title {
                color: white;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;
            }

            &-value {
                font-weight: 700;
                font-size: 32px;
                line-height: 42px;
                color: white;
            }

            &-graphics {
                display: flex;
                position: relative;
            }

            &-graphics-hallow {
                position: absolute;
                display: block;
                width: 48px;
                height: 48px;
                border-radius: 25px;
                outline: 2px solid white;
                right: 24px;
            }

            &-graphics-solid {
                display: block;
                width: 48px;
                height: 48px;
                border-radius: 25px;
                background: #382314;
            }
        }

        &__body {
            background-color: #FFFBF6;
            border-radius: 20px;
            padding: 24px 20px;
            margin-left: 20px;
            margin-right: 20px;

            @media(min-width: $desktop) {
                padding: 32px 40px;
                margin-left: 0;
                margin-right: 0;
            }

            &-spending {
                font-weight: 700;
                font-size: 24px;
                line-height: 42px;
                color: #382314;
                margin-bottom: 66px;

                @media(min-width: $desktop) {
                    font-size: 32px;
                }
            }

            &-chart {
                ul {
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;

                    li {
                        text-align: center;
                        position: relative;

                        &.active {
                            .expense-card__body-bar {
                                background-color: #76B5BC;

                                &:hover {
                                    background-color: #B4E0E5;
                                }
                            }
                        }

                        &:hover {
                            .expense-card__body-bar {
                                background-color: #FF9B86                                ;
                            }

                            .expense-card__body-value {
                                display: block;
                            }
                        }
                    }
                }
            }

            &-value {
                position: absolute;
                display: none;
                top: -40px;
                text-align: center;
                color: white;
                background-color: #382314;
                padding: 8px;
                border-radius: 5px;
                left: -10px;
                font-size: 12px;

                @media(min-width: $desktop) {
                    top: -46px;
                    font-size: 18px;
                    left: -5px;
                }

                &.active {
                    display: block;
                }
            }

            &-bar {
                border-radius: 5px;
                background-color: #EC755D;
                margin-bottom: 8px;
                width: 33px;

                @media(min-width: $desktop) {
                    width: 50.36px;
                }

                &.mon {
                    height: 50px;
                }

                &.tue {
                    height: 100px; 
                }

                &.wed {
                    height: 150px
                }

                &.thu {
                    height: 89px
                }

                &.fri {
                    height: 67px;
                }

                &.sat {
                    height: 124px;
                }

                &.sun {
                    height: 73px;
                }
            }

            &-day {
                color: #92857A;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
            }

            &-div {
                border: 1px solid #F8E9DD;
                margin: 30px 0;
            }

            &-monthly-total {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-total-title {
                color: #92857A;
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;

                @media(min-width: $desktop) {
                    font-size: 18px;
                    line-height: 23px;
                }
            }

            &-total-amount {
                color: #382314;
                font-weight: 700;
                font-size: 30px;
                line-height: 39px;

                @media(min-width: $desktop) {
                    font-size: 48px;
                    line-height: 62px;
                }
            }

            &-last {
                text-align: right;
            }

            &-last-amount {
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
                color: #382314;

                @media(min-width: $desktop) {
                    font-size: 18px;
                    line-height: 23px;
                }
            }

            &-last-month {
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: #92857A;

                @media(min-width: $desktop) {
                    font-size: 18px;
                    line-height: 23px;
                }
            }
        }
    }
}